In [25]:
import pandas as pd
people={"email":["balaji.abhi@gmail.com","haripriya.munipalli@gmail.com"], "first":["balaji","haripriya"], "last":["kisunuru","munipalli"]}

person={"one":"first","two":"second","three":"third"}

#df=pd.read_csv("g:/sql/survey_results_public.csv")
#pd.set_option('display.max_columns',79)

df1=pd.DataFrame(people)
df1
#people.update(person)
#people

                           email      first       last
0          balaji.abhi@gmail.com     balaji   kisunuru
1  haripriya.munipalli@gmail.com  haripriya  munipalli

In [16]:
df1=pd.DataFrame(people)
df1.set_index('email',inplace=True)
df1.index

Index(['balaji.abhi@gmail.com', 'haripriya.munipalli@gmail.com'], dtype='object', name='email')

In [38]:
df1.set_index('email')
df1['email'][1]='jahnavi.abhi@gmail.com'
df1.columns
df1.apply(len)

email    2
first    2
last     2
dtype: int64

In [39]:
df1['first'].apply(len)

0    6
1    9
Name: first, dtype: int64

In [67]:
tup=1,2,4,
tup1=3,4,5,6,
tup2=tup+tup1
tup3=list(tup2)

print(tup3)
tup4=tuple(tup3)
tup4

[1, 2, 4, 3, 4, 5, 6]

(1, 2, 4, 3, 4, 5, 6)

In [83]:
a='*'
res=5
i=6
j=1
while len(a)<=res:
    print(" "*i+"{}".format(a))
    a+='*'
    i-=1
while len(a)>0:
    print(" "*j+"{}".format(a))
    a=a[:-1]
    j+=1

      *
     **
    ***
   ****
  *****
 ******
  *****
   ****
    ***
     **
      *

In [84]:
b='*'
maxm=6
i=5
j=1
c=''
while len(b)<maxm:
    print(" "*i+"{}".format(b)+"{}".format(c)+" "*i)
    i-=1
    b+="*"
    c+="*"
while len(b)>0:
    print(" "*i+"{}".format(b)+"{}".format(c)+" "*i)
    i+=1
    b=b[:-1]
    c=c[:-1]

     *
    ***
   *****
  *******
 *********
***********
 *********
  *******
   *****
    ***
     *

In [85]:
2 * 10 + (20 ** 2 // 10 - 10)

50

In [88]:
(20 ** 2 // 10 - 10)

30

In [87]:
20**0

1

In [2]:
 "michigan" < "oxford" < "stanford"

True

In [46]:
import pandas as pd
data=pd.read_csv("pokemon.csv", index_col='Name')

pd.set_option('display.max_rows',80)
#fil=(data['Defense']==83) | (data['Speed']>70)
#fil=data.index.str.contains('saur')
#fil=data['Speed']>100
#data[fil].head()
fil=data['Generation']==1
data.loc[fil,['HP','Attack','Defense','Generation']].count

<bound method DataFrame.count of                         HP  Attack  Defense  Generation
Name
Bulbasaur               45      49       49           1
Ivysaur                 60      62       63           1
Venusaur                80      82       83           1
VenusaurMega Venusaur   80     100      123           1
Charmander              39      52       43           1
...                    ...     ...      ...         ...
Dragonite               91     134       95           1
Mewtwo                 106     110       90           1
MewtwoMega Mewtwo X    106     190      100           1
MewtwoMega Mewtwo Y    106     150       70           1
Mew                    100     100      100           1

[166 rows x 4 columns]>

In [63]:
lis=['Grass','Rock','Fire']
filt1=data['Type_1'].isin(lis)
data.loc[filt1,'Type_1']

Name
Bulbasaur                Grass
Ivysaur                  Grass
Venusaur                 Grass
VenusaurMega Venusaur    Grass
Charmander                Fire
                         ...
Aurorus                   Rock
Carbink                   Rock
Diancie                   Rock
DiancieMega Diancie       Rock
Volcanion                 Fire
Name: Type_1, Length: 166, dtype: object

In [62]:
data.columns=data.columns.str.replace(' ','_')

In [68]:
data.columns=(x.upper() for x in data.columns)

In [76]:
data.rename(columns={'TYPE_1':'Type_1', 'TYPE_2':'Type_2'}, inplace=True)
data.loc['Ivysaur']='ivysaur'
data.loc['Ivysaur', ['ATTACK','SPEED']]=[50,45]
data

,#,Type_1,Type_2,TOTAL,HP,ATTACK,DEFENSE,SP._ATK,SP._DEF,SPEED,GENERATION,LEGENDARY
Name,,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,ivysaur,ivysaur,ivysaur,ivysaur,ivysaur,50,ivysaur,ivysaur,ivysaur,45,ivysaur,ivysaur
Venusaur,3,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,3,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,4,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
Diancie,719,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,719,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,720,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,720,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,721,Fire,Water,600,80,110,120,130,90,70,6,True